// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import _colors.sass
@import _reset.sass
@import _typography.sass

html
	font-size: 100.01%

body
	font-size: 75%
	color: #222
	background-image: url(../background.png)
	background-repeat: repeat
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
	a
		text-decoration: none
		color: #45506a

header
	display: block
	margin-bottom: 3em
	padding: 0

section
	width: 100%
	display: block
	padding: 0
	&.home
		position: relative
		top: 72px
		height: 1000px
	&.what, &.contact
		height: 1400px
		padding: 100px 0 0 0
		margin: 0	
	&.contact
		text-align: center
		.content
			width: 60%
			margin: 0 auto		
		p			
			font-size: 1.5em
			line-height: 1.7em
			text-align: justify
		ol
			width: 70%
			margin: 0 auto
			display: inline-block
			li
				margin-left: 5%
				margin-right: 5%
				float: left
				font-size: 1.3em
				color: #37425d
		form
			border: 1px solid red
			height: 200px
			ol.first
				li
					float: left		


	h1, p 
		color: #37425d


.content
	width: 88%
	margin: 0 auto
	.logo
		background-image: url(../logo.png)
		background-repeat: no-repeat
		width: 169px
		height: 169px
		margin: 0 auto

//header
.header
	background: url(../header_bg.png)
	position: fixed
	top: 0px
	width: 100%
	height: 72px
	overflow: hidden
	z-index: 999
	margin-bottom: 3em
nav
	font-size: 1.2em
	width: 70%
	margin: 0 auto	
	li
		float: left
		margin: 0 3.3em


h1
	color: red	

.social
	text-align: center
	background: url(../sociales.png) no-repeat
	width: 185px
	height: 20px
	margin: 20px auto


.slogan
	text-align: center
	color: #37425d
	font-size: 3.5em

footer
	height: 35px
	background: url(../footer.png) repeat-x	



.skill
	width: 50%
	margin: 0 auto
	padding-bottom: 5%

.container
	width: 33%
	height: 170px
	border: 1px solid red
	-webkit-perspective: 1000


.clear
	clear: both	


.container:hover .card
	-webkit-transform: rotateY(180deg)	

.face
	position: absolute
	-webkit-backface-visibility: hidden

.front
	z-index: 10	
	width: 86%	
	text-align: center	
	margin: 7%


.container:hover .front
	z-index: 0

.design	
	-webkit-box-shadow: inset 5px 0 5px -5px #333, inset -5px 0 5px -5px #333
	-moz-box-shadow: inset 5px 0 5px -5px #333, inset -5px 0 5px -5px #333
	box-shadow: inset 5px 0 5px -5px #333, inset -5px 0 5px -5px #333

.container:hover .front
	z-index: 0
.container
	float: left	
	top: 30px
	left: 20px		
	.back
		width: 99%				
		margin: 1%
		border: 1px solid #50607b
		background: white
		-webkit-border-radius: 3px
		-webkit-transform: rotateY(180deg)
		-moz-border-radius: 3px		
		border-radius: 3px		
		.title
			-moz-border-radius: 2px
			-webkit-border-radius: 2px
			border-radius: 3px
			border: 1px solid #3f475b
			background: #50607b
			text-align: center
			color: white
			margin: 1em
			padding: 0.5em
			font-size: 1.3em
			font-weight: bold
		.content_cat	
			color: #475373
			margin: 1em
			text-align: center
			font-size: 1.2em

	img
		float: right				
	.text		
		width: 100%
		margin: 0 0 20px 0
		font-size: 17px
		line-height: 28px
		color: #4c4c4c		

.card
	width: 86%
	margin: 7%		
	-webkit-transform-style: preserve-3d
	-webkit-transition: 0.5s		
	

.dev_card
	background: url(../development.png) no-repeat
	width: 70px
	height: 70px
	margin: 0 auto
	margin-top: 10%
	margin-bottom: 10%

.des_card
	background: url(../design.png) no-repeat
	width: 70px
	height: 70px
	margin: 0 auto
	margin-top: 10%
	margin-bottom: 10%

.mob_card
	background: url(../mobile.png) no-repeat
	width: 70px
	height: 70px	
	margin: 0 auto
	margin-top: 10%	
	margin-bottom: 10%

.description 	
	p
		color: #858585
		font-size: 1.4em

//What
.what
	.icon_s
		width: 80px
		height: 80px
		float: left
		margin-right: 40px
	.icon_dev
		background: url(../w_icon_dev.png) no-repeat
	.icon_des
		background: url(../w_icon_des.png) no-repeat
	.icon_mob
		background: url(../w_icon_mobile.png) no-repeat
	article
		float: left	
		width: 70%
		margin-left: 5%
		li
			margin-bottom: 9%
			-webkit-transition: -webkit-transform 0.2s ease-in-out
			-moz-transition: -moz-transform 0.2s ease-in-out
			-o-transition: -o-transform 0.2s ease-in-out
			transition: transform 0.2s ease-in-out
		li:hover	
			-webkit-transform: scale(1.05)
			-moz-transform: scale(1.05)
			-o-transform: scale(1.05)
			-ms-transform: scale(1.05)
			transform: scale(1.05)

aside.contact_form
	-moz-box-shadow: 0px 2px 9px #737373
	-webkit-box-shadow: 0px 2px 9px #737373
	box-shadow: 0px 2px 9px #737373
	-moz-border-radius: 3px
	-webkit-border-radius: 3px
	border-radius: 3px	
	::-webkit-input-placeholder
		color: white
	input:-moz-placeholder
		color: white
	float: left
	background: white
	.inputs 		
		margin: 18px
		font-size: 1.2em
		.input
			margin-bottom: 6px
		input
			padding: 2px
			width: 187px
			height: 26px
			-webkit-border-radius: 4px
			-moz-border-radius: 4px
			border-radius: 4px
			background: #C6C6C6
		textarea
			padding: 2px
			-moz-border-radius: 4px
			border-radius: 4px
			background: #C6C6C6
			border: gray
	.actions
		float: right
		.button
			border: none
			color: #aeaeae
			-moz-border-radius: 7px
			-webkit-border-radius: 7px
			border-radius: 7px
			font-size: 13px
			padding: 8px 12px
			cursor: pointer
			margin-right: 6px
			background: #f6f6f6
			-moz-box-shadow: 0px 2px 9px #737373
			-webkit-box-shadow: 0px 2px 9px #737373
			box-shadow: 0px 2px 9px #737373
			margin-bottom: 10px