%section.contact
	.content		
		%article
			%h1 Contact
			%p
				elementum magna odio vut aliquet! Cras sit! Cursus a habitasse? A turpis, etiam lacus odio nascetur ridiculus dictumst placerat placerat duis pellentesque.
			%ol.social
				%li Telefono					
				%li	Mail
				%li Twitter
				%li	Facebook
				%li	Skype	
			=render "form_contact"	