%section.home.section
	.logo
	.social

	.slogan
		%p La pasión es el motor del trabajo.
	.skill
		.container.development
			.card
				.face.front
					.dev_card.image
					.text
						DEVELOPMENT
				.face.back
					.title
						Desarrollo web
					.content_cat
						Desarrollamos para plataformas iOS, Android Desarrollamos para plataformas iOS, Android	

		.container.design
			.card
				.face.front
					.des_card.image
					.text DESIGN
				.face.back
					.title
						Diseño
					.content_cat
						Desarrollamos para plataformas iOS, Android Desarrollamos para plataformas iOS, Android	

		.container.mobile
			.card
				.face.front
					.mob_card.image
					.text MOBILE
				.face.back
					.title
						Desarrollo mobil
					.content_cat
						Desarrollamos para plataformas iOS, Android Desarrollamos para plataformas iOS, Android	
		.clear