%section.what.section
	%article
		%ol
			%li
				.icon_dev.icon_s
				.description
					%h1 Development
					%p elementum magna odio vut aliquet! Cras sit! Cursus a habitasse? A turpis, etiam lacus odio nascetur ridiculus dictumst placerat placerat duis pellentesque.

			%li
				.icon_des.icon_s
				.description
					%h1 Design
					%p elementum magna odio vut aliquet! Cras sit! Cursus a habitasse? A turpis, etiam lacus odio nascetur ridiculus dictumst placerat placerat duis pellentesque.

			%li
				.icon_mob.icon_s
				.description
					%h1 Mobile
					%p elementum magna odio vut aliquet! Cras sit! Cursus a habitasse? A turpis, etiam lacus odio nascetur ridiculus dictumst placerat placerat duis pellentesque.



%article.technologies
	.description_tech
		%h1
			TECNOLOGÍA APROPIADA PARA LA SOLUCIÓN ADECUADA
		%p
			Cada proyecto nos plantea nuevas preguntas a las cuales respondemos con diferentes soluciones. En función de las exigencias y requerimientos de cada proyecto, utilizamos la tecnología que mejor encaje con las funcionalidades solicitadas por el cliente.
		%p				
			Como Partners de Adobe tenemos amplia experiencia en el desarrollo de plataformas en Flash, Flex y Air. 		
	.logos_tech
		.wrapper
			.row
				.logo.logo1
				.logo.logo2
			.clear
			.row
				.logo.logo1
				.logo.logo2
			.clear	
			.row
			.logo.logo1
			.logo.logo2	