%section.who_work.section
	%article
		%ol
			%li
				.icon_dev.icon_s
				.description
					%h1 Development
					%p elementum magna odio vut aliquet! Cras sit! Cursus a habitasse? A turpis, etiam lacus odio nascetur ridiculus dictumst placerat placerat duis pellentesque.

			%li
				.icon_des.icon_s
				.description
					%h1 Design
					%p elementum magna odio vut aliquet! Cras sit! Cursus a habitasse? A turpis, etiam lacus odio nascetur ridiculus dictumst placerat placerat duis pellentesque.

			%li
				.icon_mob.icon_s
				.description
					%h1 Mobile
					%p elementum magna odio vut aliquet! Cras sit! Cursus a habitasse? A turpis, etiam lacus odio nascetur ridiculus dictumst placerat placerat duis pellentesque.