#container
	%aside.contact_form{:style=>"left: 72px; position: fixed; top: 150px"}
		=render "form"
	#main.content{:style=>"position: relative; margin-top: 100px"}
		= render "home"
		.clear
		= render "what"
		.clear
		= render "portfolio"
		.clear
		= render "contact"
		.clear
		